body{
  background-color: #ddd;
  font-size: 16px;
}

section{
  border-radius:3px;
  background-color: #fff;
  text-align: center;
}
img{
  border-radius: 100px;
  max-height: 120px;
  margin: 10px;
}
.person-name{
  color: #1d4249 !important;
}
.person-title{
  font-size: 0.9em;
  color: #aaa;
}

.person-email{
  font-size: 0.9em;
  color: #469faf;
  padding-bottom: 10px;
}
h1 {
  color: #469faf;
}
